/* banner-2 start */
.banner-2 {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  margin-right: 152px;
  margin-left: 152px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* banner-2 title section */
.banner-2-title {
  text-align: center;
  padding-left: 97px;
  padding-right: 97px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.banner-2-title h1 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
}
.banner-2-title p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  padding-top: 24px;
  line-height: 26px;
}
.banner-2,
.banner-2-layer-1,
.banner-2-layer-2,
.banner-2-layer-3 {
  padding-left: 97px;
  padding-right: 97px;
  padding-top: 80px;
  padding-bottom: 80px;
  align-items: ;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}
/* layer 1 layer-2 layer-3  combined classes */
.banner-2-layer-1,
.banner-2-layer-2,
.banner-2-layer-3 {
  display: flex;
  justify-content: space-between;
  gap: 98px;
  padding: 48px;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 252),
    rgba(175, 22, 22, 0.05) 100%
  );
}
.layer-1 h1,
.layer-2 h1,
.layer-3 h1 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  line-height: 36px;
}
.layer-1 p,
.layer-2 p,
.layer-3 p {
  padding-top: 16px;
  padding-bottom: 32px;
  line-height: 26px;
}

.layer-1 button,
.layer-2 button,
.layer-3 button {
  width: 150px;
  height: 48px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
}
