.footer {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 32px;
    padding-bottom: 32px;


    background: rgba(13, 19, 33, 0.03);
}

.footer h3 {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}

.footer .footer-images {
    display: flex;
    gap: 24px;
}